.game-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.game-board {
  display: grid;
  gap: 2px;
  margin-top: 20px;
  border: 1px solid #ccc;
}

.cell {
  width: 20px;
  height: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eee;
}

.cell.alive {
  background-color: #333;
}

button {
  margin-top: 10px;
  cursor: pointer;
  padding: 5px 10px;
  background-color: #9c89b8;
  color: white;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: #5e548e;
}

.error-message {
  color: #ad2831;
  margin-top: 5px;
}

input {
  margin: 0 5px;
  padding: 5px;
}

.form-group {
  margin-top: 20px;
}

.living-cells-count {
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
  color: #6d6875;
}

.form-group,
.living-cells-count,
.buttons-row {
  text-align: center;
  margin-top: 20px;
}

.buttons-row button {
  margin: 0 10px;
}
